span.linenumber {
    margin-right: 1em;
    visibility: hidden;
}
span.linenumber:nth-of-type(4n) {
    margin-right: 1em;
    visibility: visible;
    color: silver;
}
.underline {
    text-decoration: underline;
}
.test {
    color:red;
    background:yellow;
}

.previouslyread {
   /* app[@resp='previous'] */
}